<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- estilos personalizados -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='estilos.css')}}">
        <script type="text/javascript" src="{{url_for('static', filename='script.css')}}"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Fonts e ícones -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/8c452e77e4.js" crossorigin="anonymous"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='icons/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='icons/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='icons/favicon-16x16.png')}}">
        <link rel="manifest" href="{{url_for('static', filename='icons/site.webmanifest')}}">

    </head>
    <body>
        <header onload="mudaBanner()" class="col-12 float-left">
            <div id="menu" class="col-12 fixed-top float-left">
                <ul>
                    <div class="col-3 col-md-8 float-left">
                        <span id="logo"  onclick="mostra_menu()" class="item_menu">HuRe</span>
                        <li class="item_menu"><a href="{{url_for('index')}}">Início</a></li>
                        <li class="item_menu"><a href="{{url_for('servicos')}}">Serviços</a></li>
                        <li class="item_menu"><a href="{{url_for('sobre')}}">Sobre</a></li>
                        <li class="item_menu">Contato</li>
                    </div>
                    <div id="auth_menu" class="col-9 col-md-4 float-right">
                        <div class="col-7 col-md-6 float-right">
                            <a href="{{url_for('person.register')}}"><li id="cadastro_btn" style="color: #333;" class="col-12">Cadastrar</li></a>
                        </div>
                        <div class="col-5 col-md-6 float-right">
                            <div class="dropdown">
                                <li id="login_btn" class="col-12" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="float-left">Login</li>
                                <div class="dropdown-menu" style="width: 300px;" aria-labelledby="dropdownMenu2">
                                    <form id="login_dropdown" method="post" class="dropdown">
                                        <div id="obgt_empresa">
                                            <h6>Empresa</h6>
                                            <div class="login_form">
                                                <span>Cod. Empresa:</span>
                                                <input type="number" class="form-control form-control-md" name="empresa" placeholder="0000">
                                            </div>
                                            <div id="obgt_candidato">
                                                <h6>Candidato</h6>
                                                <div class="login_form">
                                                    <span>Usuário:</span>
                                                    <input required type="text" size="30" class="form-control form-control-md" name="usuario" placeholder="user@hure.com.br">
                                                </div>
                                                <div class="login_form">
                                                    <span>Senha:</span>
                                                    <input required type="password" class="form-control form-control-md" name="senha" placeholder="********">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="login_form">
                                            <button type="submit" class="acessar_btn col-12">Acessar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
                <div id="menu_mobile" class="col-12 float-left">
                    <div class="container float-left col-6 item_mm">
                        <li class="item_menu_mobile">Início</li>
                    </div>
                    <div class="container float-left col-6 item_mm">
                        <li class="item_menu_mobile">Serviços</li>
                    </div>
                    <div class="container float-left col-6 item_mm">
                        <li class="item_menu_mobile">Sobre</li>
                    </div>
                    <div class="container float-left col-6 item_mm">
                        <li class="item_menu_mobile">Contato</li>
                    </div>
                </div>
            </div>
            <div id="txt_header" class="col-12 col-md-5 float-left">
                <h3>O <span>HuRe</span> torna seu RH mais prático</h3>
                <p>
                    Conheça aqui as vantagens de utilizar nossa plataforma em sua empresa para melhorar a organização e
                    do seu RH e seu processo de Recrutamento e Seleção utilizando um Banco de Talentos inteligente!
                </p>
                <button class="btn_conheca" data-toggle="modal" data-target="#empresaContato">CONHEÇA O <span>HuRe</span></button>
            </div>
            <!-- MODAL CONTATO EMPRESA -->
            <div class="modal fade" id="empresaContato" tabindex="-1" role="dialog" aria-labelledby="empresaContato" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="container-fluid">
                                <button type="button" class="close" data-dismiss="modal" data-target="#empresaContato" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 style="font-family: 'Jost'">O HuRe pode melhorar seu RH</h5>
                            </div>
                        </div>
                        <div class="modal-body">
                            <p>Obrigado pelo interesse no HuRe. Acreditamos que podemos ajudar a tornar
                            o seu processo de recrutamento e seleção mais simples com a nossa plataforma
                            e estamos aqui para te ajudar com isso.</p>
                            <p>Queremos muito conhecer as suas necessidades e apresentar o HuRe para todas
                            as empresas que querem contratar com mais facilidade e acabar com os problemas
                            que a falta de um Banco de Talentos pode causar.</p>
                            <br/><br/>
                            <h6>Nos conte mais sobre a sua empresa</h6>
                            <p>Solicite uma demonstração, ou uma proposta para que possa conhecer o HuRe e todas
                            as vantagens que ele pode trazer para sua empresa:</p>
                            <span><i class="far fa-envelope"></i> <strong>empresas@hure.com.br</strong></span>
                            <br/>
                            <span><i class="fab fa-whatsapp"></i> <strong>(19) 9 9918-2722</strong></span>
                        </div>
                        <div class="modal-footer float-left col-12">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="img_header" class="col-12 col-md-7 float-left">
                <img src="{{url_for('static', filename='imgs/buscando-curriculo.jpeg')}}">
            </div>
        </header>
        <main id="main" class="col-12 float-left">
            <div class="col-12 col-md-3 float-left servico">
                <div class="text-center info_circulo">
                    <i class="fas fa-project-diagram"></i>
                </div>
                <div class="col-12 descri_servico">
                    <h5>Abra vagas e acompanhe os processos</h5>
                    <p>Vincule o <span>HuRe</span> a página "trabalhe conosco" do seu site e dê mais visibilidade as oportunidades em sua empresa!</p>
                </div>
            </div>
            <div class="col-12 col-md-3 float-left servico">
                <div class="text-center info_circulo">
                    <i class="fas fa-users"></i>
                </div>
                <div class="col-12 descri_servico">
                    <h5>Encontre o candidato ideal</h5>
                    <p>Chega de procurar o candidato ideal para sua vaga entre centenas ou milhares de currículos.</p>
                </div>
            </div>
            <div class="col-12 col-md-3 float-left servico">
                <div class="text-center info_circulo">
                    <i class="fas fa-tasks"></i>
                </div>
                <div class="col-12 descri_servico">
                    <h5>Controle todo o processo seletivo</h5>
                    <p>Saiba o status, e acompanhe o andamento do processo a medida em que o candidato vai passando pelas etapas</p>
                </div>
            </div>
            <div class="col-12 col-md-3 float-left servico">
                <div class="text-center info_circulo">
                    <i class="far fa-clock"></i>
                </div>
                <div class="col-12 descri_servico">
                    <h5>Economize tempo e recursos</h5>
                    <p>Crie um processo abrindo uma vaga, aprovando candidatos, agendando entrevistas e iniciando a admissão em poucos cliques.</p>
                </div>
            </div>
            <div class="col-12 col-md-5 float-left servico_info">
                <div class="col-12 container_txt_servico">
                    <h4>Um Banco de Talentos simples e poderoso</h4>
                    <p>
                        O principal propósito do <span>HuRe</span> é facilitar a organização do seu Banco de Talentos e a
                        busca do candidato ideal para uma posição aberta em sua organização. Dessa forma nosso Banco de Talentos facilita a sua busca por
                        um currículo baseado em diversos fatores como Nome, Cursos, Experiências Profissionais, Localização
                        e muito mais.
                    </p>
                    <p>
                        Integrando nosso BT com o site da sua empresa, todos os currículos que seu RH receber já estarão a
                        disposição para uma busca mais rápida e eficiente, economizando tempo e recursos.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-7 float-left servico_img">
                <img src="{{url_for('static', filename='imgs/bt.png')}}" height="250px" width="100%">
            </div>
            <div class="col-12 col-md-5 float-left servico_info">
                <div class="col-12 container_txt_servico">
                    <h4>Publique e edite vagas de emprego</h4>
                    <p>
                        O <span>HuRe</span> disponibiliza à você a possibilidade de publicar, editar e acompanhar candidaturas
                        para as vagas de empresgo abertas em sua empresa, tudo através da nossa plataforma. É muito fácil
                        anunciar uma vaga, com poucos cliques sua vaga estará disponível publicada e recebendo candidatos.
                    </p>
                    <p>
                        Se estiver integrado ao seu site, as vagas publicadas ficam disponíveis na página "trabalhe
                        conosco" do site da sua empresa.
                    </p>
                    <p>
                        Ao publicar uma vaga no <span>HuRe</span> Você pode acompanhar todo o processo seletivo diretamente
                        pela plataforma, facilitando o trabalho do seu RH ao ter em tela todo o rastreamento do processo.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-7 float-left servico_img">
                <img src="{{url_for('static', filename='imgs/vaga.png')}}" height="250px" width="100%">
            </div>
            <div class="col-12 col-md-5 float-left servico_info">
                <div class="col-12 container_txt_servico">
                    <h4>Controle tudo pelo painel</h4>
                    <p>
                        Todas as informações que você precisa estão disponíveis no painel de controle do <span>HuRe</span>.
                    </p>
                    <p>
                        Abrir vagas, gerenciar o Banco de Talentos, acompanhar processos seletivos, visualizar relatórios
                        e muito mais. Tudo isso em poucos cliques no painel.
                    </p>
                    <p>
                        Nossa plataforma pode fazer muito por você e seu RH. Se ficou interessado entre em contato para
                        poder realizar um teste e verificar se o HuRe atende as suas necessidades. Estamos te aguardando!
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-7 float-left servico_img">
                <img src="{{url_for('static', filename='imgs/painel.png')}}" height="250px" width="100%">
            </div>
            <div id="img_contato_index" class="col-12 col-md-5 float-left">
                <img src="{{url_for('static', filename='imgs/bg_2.jpeg')}}" height="400" width="100%">
            </div>
            <div id="contato_index" class="col-12 col-md-7 float-left">
                <h5 class="text-center">Fale com a gente e saiba como o <span>HuRe</span> pode te ajudar!</h5>
                <form>
                    <div class="login_form">
                        <span>Nome completo:</span>
                        <input required type="text" class="form-control form-control-md" placeholder="Vinícius de Oliveira">
                    </div>
                    <div class="login_form">
                        <span>e-mail:</span>
                        <input required type="email" class="form-control form-control-md" placeholder="vini@hure.com.br">
                    </div>
                    <div class="login_form">
                        <span>telefone/celular:</span>
                        <input required type="tel" class="form-control form-control-md" placeholder="(19) 9 9999-9999">
                    </div>
                    <div class="login_form">
                        <span>Mensagem:</span>
                        <textarea rows="4" placeholder="Quero melhorar meu processo seletivo com o HuRe!" class="form-control form-control-md"></textarea>
                    </div>
                    <div class="login_form">
                        <button class="btn btn-success btn-block">Enviar mensagem!</button>
                    </div>
                </form>
            </div>
        </main>
        <footer class="col-12 float-left">
            <div id="logo_footer" class="col-12 col-md-3 float-left">
                <div class="container col-12 float-left">
                    <span>HuRe</span>
                </div>
            </div>
            <div class="col-12 col-md-3 float-left">
                <div id="links_uteis" class="container col-12 float-left">
                    <span>Links úteis</span>
                    <ul class="col-12 float-left">
                        <li>Sobre o HuRe</li>
                        <li>Privacidade e dados pessoais (LGPD)</li>
                        <li>Nossos clientes</li>
                        <li>entre em contato</li>
                        <li>Carreiras</li>
                        <li>NoXP</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-3 float-left">
                <div id="about" class="container col-12 float-left">
                    <span>Links úteis</span>
                    <p class="col-12 float-left">
                        projeto de TCC do aluno Vinícius de Oliveira, graduando em Engenharia de Software pela Uniceumar
                    </p>
                    <p>
                        projeto pode ser visualizado pelo Github
                    </p>
                    <span>versão: 1.0.0 - <a href="https://github.com/vncso/hure-tcc"><i class="fab fa-github"></i> Github</a></span>
                </div>
            </div>
        </footer>
        <script type="text/javascript">
            function mostra_menu(){
                menu_mobile = document.getElementById('menu_mobile');

                if(menu_mobile.style.height != '100vh' && window.innerWidth < 770){
                    menu_mobile.style.height = '100vh';
                    menu_mobile.style.left = '0';
                } else{
                    menu_mobile.style.height = 0;
                    menu_mobile.style.left = '-10000';
                }

            }
            $(document).ready(function() {
                var maxHeight = -1;
                $('.servico').each(function() {
                    maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
                });

                $('.servico').each(function() {
                    $(this).height(maxHeight);
                });
             });
        </script>
    </body>
</html>
