{% extends 'base.html' %}
{% block conteudo %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
<div class="alert alert-{{ category }} text-center" xmlns="http://www.w3.org/1999/html">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if vagas|length > 0 %}
        <div id="ult_vagas" class="col-12 float-left">
            <div class="col-12 float-left text-center">
                <h5>Histórico de vagas</h5>
            </div>
            {%for vaga in vagas%}
                {% if vaga['publicada'] == 3 %}
                    <div class="col-12 col-md-4 col-xl-3 float-left">
                        <div class="col-12 vaga">
                            <h5 class="titulo_vaga"><a href="{{url_for('vagas.vaga', empresa=session['empresa'], idvaga=vaga['_id'])}}" target="_blank">{{vaga['cargo']}}</a></h5>
                            <div class="info_vaga">
                                <div class="info_vaga_item">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>{{vaga['localizacao']['cidade']}}/{{vaga['localizacao']['estado']}}</span>
                                </div>
                                <div class="info_vaga_item">
                                    <i class="fas fa-users"></i>
                                    <span>{{vaga['candidatos']}} candidatos</span>
                                </div>
                            </div>
                            <div class="descri_vaga">
                                <p>{{vaga['descricao'][:40]}}...</p>
                            </div>
                            <div class="btns_vaga">
                                <a href="{{url_for('rh.edita_vaga', idvaga=vaga['_id'])}}" class="btn btn-outline-dark btn-block">Editar</a>
                                <a href="{{url_for('rh.processo', idvaga=vaga['_id'])}}" class="btn btn-outline-success btn-block">Acompanhar</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div id="btn_todas_vagas" class="col-12 float-left">
                <button class="btn btn-outline-dark btn-block">Ver todas as suas vagas</button>
            </div>
        </div>
    {% endif %}
{% endblock %}
