{% extends 'base.html' %}
{% block conteudo %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% for vaga in vagas %}
        {% if vaga['publicada'] != 2 and vaga['publicada'] != 3 %}
            <div id="candidatos" style="margin-bottom: 2%;" class="col-12 float-left">
                <h5>{{vaga['cargo']}}</h5>
                <div class="col-12 float-left">
                    <div id="conteudo-busca" class="col-12 float-left">
                        {% for candidato in candidatos %}
                            {% for candidatura in candidato['candidaturas']%}
                                {% if candidatura['id'] == vaga['_id'] and candidatura['status'] == 1 %}
                                <div class="col-12 col-md-6 col-xl-6 candidato-box float-left">
                                    <div class="col-12 candidato float-left text-center">
                                        <img src="https://hure-vncso.herokuapp.com/static/imgs/{{candidato['foto']}}" height="100" width="100">
                                        <h4>{{candidato['nome']}} {{candidato['sobrenome']}}</h4>
                                        <p>{{candidato['endereco']['cidade']}}/{{candidato['endereco']['estado']}}</p>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="col-4">Aprovação do Currículo</td>
                                                    <td class="col-8 p-0 pt-2"><i class="fas fa-check-circle"></i></td>
                                                </tr>
                                                {% for etapa in candidatura['etapas']%}
                                                <tr>
                                                    <td class="col-4">Entrevista</td>
                                                    <td class="col-8 p-0 pt-2">
                                                        {% if etapa['entrevista'] == 1 %}
                                                            <i class="fas fa-check-circle"></i>
                                                        {% elif etapa['entrevista'] == 2 %}
                                                            <i class="far fa-times-circle"></i>
                                                        {% else %}
                                                            <form action="{{url_for('rh.aprova_reprova_etapa')}}" method="post" class="col-12 col-md-6 float-left">
                                                                <input type="hidden" name="vaga" value="{{vaga['_id']}}">
                                                                <input type="hidden" name="nome_candidato" value="{{candidato['nome']}}">
                                                                <input type="hidden" name="candidato" value="{{candidato['_id']}}">
                                                                <input type="hidden" name="etapa" value="entrevista">
                                                                <input type="hidden" name="aprova_reprova" value="aprova">
                                                                <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check-circle"></i>Aprovado</button>
                                                            </form>
                                                            <form action="{{url_for('rh.aprova_reprova_etapa')}}" method="post" class="col-12 col-md-6 float-left">
                                                                <input type="hidden" name="vaga" value="{{vaga['_id']}}">
                                                                <input type="hidden" name="nome_candidato" value="{{candidato['nome']}}">
                                                                <input type="hidden" name="candidato" value="{{candidato['_id']}}">
                                                                <input type="hidden" name="etapa" value="entrevista">
                                                                <input type="hidden" name="aprova_reprova" value="reprova">
                                                                <button type="submit" class="btn btn-danger btn-sm"><i class="far fa-times-circle"></i>Reprovado</button>
                                                            </form>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-4">Entrevista Técnica</td>
                                                    <td class="col-8 p-0 pt-2">
                                                        {% if etapa['entrevista_tecnica'] == 1 %}
                                                            <i class="fas fa-check-circle"></i>
                                                        {% elif etapa['entrevista_tecnica'] == 2 %}
                                                            <i class="far fa-times-circle"></i>
                                                        {% else %}
                                                            <form action="{{url_for('rh.aprova_reprova_etapa')}}" method="post" class="col-12 col-md-6 float-left">
                                                                <input type="hidden" name="vaga" value="{{vaga['_id']}}">
                                                                <input type="hidden" name="nome_candidato" value="{{candidato['nome']}}">
                                                                <input type="hidden" name="candidato" value="{{candidato['_id']}}">
                                                                <input type="hidden" name="etapa" value="entrevista_tecnica">
                                                                <input type="hidden" name="aprova_reprova" value="aprova">
                                                                <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check-circle"></i>Aprovado</button>
                                                            </form>
                                                            <form action="{{url_for('rh.aprova_reprova_etapa')}}" method="post" class="col-12 col-md-6 float-left">
                                                                <input type="hidden" name="vaga" value="{{vaga['_id']}}">
                                                                <input type="hidden" name="nome_candidato" value="{{candidato['nome']}}">
                                                                <input type="hidden" name="candidato" value="{{candidato['_id']}}">
                                                                <input type="hidden" name="etapa" value="entrevista_tecnica">
                                                                <input type="hidden" name="aprova_reprova" value="reprova">
                                                                <button type="submit" class="btn btn-danger btn-sm"><i class="far fa-times-circle"></i>Reprovado</button>
                                                            </form>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-4">Entrevista Gestor</td>
                                                    <td class="col-8 p-0 pt-2">
                                                        {% if etapa['entrevista_gestor'] == 1 %}
                                                            <i class="fas fa-check-circle"></i>
                                                        {% elif etapa['entrevista_gestor'] == 2 %}
                                                            <i class="far fa-times-circle"></i>
                                                        {% else %}
                                                            <form action="{{url_for('rh.aprova_reprova_etapa')}}" method="post" class="col-12 col-md-6 float-left">
                                                                <input type="hidden" name="vaga" value="{{vaga['_id']}}">
                                                                <input type="hidden" name="nome_candidato" value="{{candidato['nome']}}">
                                                                <input type="hidden" name="candidato" value="{{candidato['_id']}}">
                                                                <input type="hidden" name="etapa" value="entrevista_gestor">
                                                                <input type="hidden" name="aprova_reprova" value="aprova">
                                                                <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check-circle"></i>Aprovado</button>
                                                            </form>
                                                            <form action="{{url_for('rh.aprova_reprova_etapa')}}" method="post" class="col-12 col-md-6 float-left">
                                                                <input type="hidden" name="vaga" value="{{vaga['_id']}}">
                                                                <input type="hidden" name="nome_candidato" value="{{candidato['nome']}}">
                                                                <input type="hidden" name="candidato" value="{{candidato['_id']}}">
                                                                <input type="hidden" name="etapa" value="entrevista_gestor">
                                                                <input type="hidden" name="aprova_reprova" value="reprova">
                                                                <button type="submit" class="btn btn-danger btn-sm"><i class="far fa-times-circle"></i>Reprovado</button>
                                                            </form>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="btn btn-outline-dark btn-block btn-card float-left" data-toggle="modal" data-target="#curriculo{{candidato['_id']}}">Ver Currículo</div>
                                        <form method="post" action="{{url_for('rh.admite_candidato')}}" class="col-12 col-md-6 float-left">
                                            <input type="hidden" name="candidato" value="{{candidato['_id']}}">
                                            <input type="hidden" name="vaga" value="{{vaga['_id']}}">
                                            <input type="hidden" name="nome_candidato" value="{{candidato['nome']}}">
                                            <input type="hidden" name="cargo" value="{{vaga['cargo']}}">
                                            <button type="submit" class="btn btn-outline-success btn-block btn-card float-left">Aprovar</button>
                                        </form>
                                        <form method="post" action="{{url_for('rh.reprova_candidato')}}" class="col-12 col-md-6 float-left">
                                            <input type="hidden" name="candidato" value="{{candidato['_id']}}">
                                            <input type="hidden" name="vaga" value="{{vaga['_id']}}">
                                            <input type="hidden" name="nome_candidato" value="{{candidato['nome']}}">
                                            <input type="hidden" name="origem" value="triagem">
                                            <input type="hidden" name="cargo" value="{{vaga['cargo']}}">
                                            <button type="submit" class="btn btn-outline-danger btn-block btn-card float-left">Reprovar</button>
                                        </form>
                                    </div>
                                    <div class="modal fade" id="curriculo{{candidato['_id']}}" tabindex="-1" role="dialog" aria-labelledby="curriculo{{candidato['_id']}}Nome" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="container-fluid">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <div class="col-12">
                                                            <div class="col-md-2 col-sm-12 foto-curriculo float-left">
                                                                <img src="https://hure-vncso.herokuapp.com/static/imgs/{{candidato['foto']}}" height="100" width="100">
                                                            </div>
                                                            <div class="col-md-10 col-sm-12 dados-candidato float-left">
                                                                <h5 class="modal-title col-12 float-left" id="curriculo{{candidato['_id']}}Nome">
                                                                    {{candidato['nome']}} {{candidato['sobrenome']}}
                                                                </h5>
                                                                <br/>
                                                                <h6 class="col-12 float-left">
                                                                    {{candidato['endereco']['cidade']}}/{{candidato['endereco']['estado']}}
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>Informações básicas e contatos:</h4>
                                                    <div class="curso-curriculo">
                                                        <div class="info-curso-curriculo">
                                                            <h6>{{candidato['endereco']['rua']}}, {{candidato['endereco']['numero']}}, {{candidato['endereco']['bairro']}} - {{candidato['endereco']['cidade']}}/{{candidato['endereco']['estado']}} ({{candidato['endereco']['cep']}})</h6>
                                                            <h6>{{candidato['email']}} | <i class="fab fa-facebook-square"></i>  <i class="fab fa-linkedin"></i>  <i class="fas fa-globe"></i>  <i class="fab fa-skype"></i></h6>
                                                            <h6>{{candidato['contato']['tel1']}} | {{candidato['contato']['tel2']}} | {{candidato['contato']['tel3']}}</h6>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                    <h4>Educação e Cursos:</h4>
                                                    {% for curso in candidato['cursos'] %}
                                                        <div class="curso-curriculo">
                                                            <div class="info-curso-curriculo">
                                                                <h5>{{curso['nome']}}</h5>
                                                                <h6>{{curso['instituicao']}}</h6>
                                                                <h6>de: {{curso['inicio']}} até: {{curso['fim']}}</h6>
                                                            </div>
                                                            <p>
                                                                {{curso['descricao']}}
                                                            </p>
                                                        </div>
                                                    {%endfor%}
                                                    <h4>Experiências profisisonais:</h4>
                                                    {% for xp in candidato['experiencias'] %}
                                                        <div class="curso-curriculo">
                                                            <div class="info-curso-curriculo">
                                                                <h5>{{xp['cargo']}}</h5>
                                                                <h6>{{xp['empresa']}}</h6>
                                                                <h6>de: {{xp['inicio']}} até: {{xp['fim']}}</h6>
                                                            </div>
                                                            <p>
                                                                {{xp['descricao']}}
                                                            </p>
                                                        </div>
                                                    {%endfor%}
                                                    <h4>Respostas ao questionário da vaga:</h4>
                                                    {% for candidatura in candidato['candidaturas'] %}
                                                        {% if candidatura['id'] == idvaga %}
                                                            {% for resposta in candidatura['respostas'] %}
                                                                <div class="curso-curriculo">
                                                                    <div class="info-curso-curriculo">
                                                                        <h5>{{resposta['pgt']}}</h5>
                                                                    </div>
                                                                    <p>
                                                                       R: {{resposta['res']}}
                                                                    </p>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <div class="col-md-4 col-sm-12 float-left">
                                                        <a href="{{url_for('vagas.vaga', empresa=session['empresa'], idvaga=vaga['_id'])}}" class="btn btn-outline-success btn-block">Aprovar currículo</a>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 float-left">
                                                        <a href="{{url_for('vagas.vaga', empresa=session['empresa'], idvaga=vaga['_id'])}}" class="btn btn-outline-danger btn-block">Reprovar currículo</a>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 float-left">
                                                        <a href="{{url_for('rh.curriculo', candidato=candidato['_id'])}}" class="btn btn-outline-dark btn-block">Visualizar no BT</a>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
